packages/
SendForFingerPrintForMatching/bin/
SendForFingerPrintForMatching/obj/
SendForFingerPrintForMatching.Business/bin/
SendForFingerPrintForMatching.Business/obj/
SampleTakeFingerPrint/bin/
SampleTakeFingerPrint/obj/
